/* General */
* {
    box-sizing: border-box;
    margin: 0, auto;
    padding: 0;
}

body {
    /*Estoy pensando que color de fondo poner aca...*/
}

.container {
    width: 100%;
    height: 100vh;
}

.box {
    justify-content: space-between;
    width: 100%;
    margin-left: 0px;
}

/* Index */
.home-title {
    text-decoration: underline;
}

.home-description {
    font-size: small;
}

.home-title, .home-description, .prod-sell {
    text-align: center;
}

.prod-sell {
    background-color: lightgray;
}

.t-prod {
    width: 100%;
    text-align: center;
    font-size: larger;
}

.container p {
    font-size: 23px;
}

.container button {
    float: right;
    font-size: 20px;
}
/* Resumen */

/*.register-block {
    width: 100%;
}*/

.imagen {
    width: 521px;
}

.register-form {
    padding: 30px 0;
}

.carousel-inner {
    border-radius: 0 10px 10px 0;
}

.carousel-caption {
    text-align: left;
    left: 5%;
}

.register-sec .copy-text {
    position: absolute;
    width: 80%;
    bottom: 20px;
    font-size: 13px;
    text-align: center;
}

    .register-sec .copy-text i {
        color: #FEB58A;
    }

    .register-sec .copy-text a {
        color: #E36262;
    }

.register-sec h2 {
    font-weight: 800;
    font-size: 30px;
    color: #3f4c6b;
}

    .register-sec h2:after {
        content: " ";
        width: 100px;
        height: 5px;
        background: #3f4c6b;
        display: block;
        margin-top: 20px;
        border-radius: 3px;
        margin-left: auto;
        margin-right: auto
    }

.btn-register {
    background: #3f4c6b;
    color: #fff;
    font-weight: 600;
}

.banner-text {
    width: 70%;
    position: absolute;
    bottom: 40px;
    padding-left: 20px;
}

    .banner-text h2 {
        color: #fff;
        font-weight: 600;
    }

        .banner-text h2:after {
            content: " ";
            width: 100px;
            height: 5px;
            background: #FFF;
            display: block;
            margin-top: 20px;
            border-radius: 3px;
        }

    .banner-text p {
        color: #fff;
    }

/* Login */
.bg-login {
    background-image: url("https://images.unsplash.com/photo-1556910602-38f53e68e15d?ixlib=rb-1.2.1&auto=format&fit=crop&w=1525&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}

.user_card {
    height: 400px;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #f39c12;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: #60a3bc;
    padding: 10px;
    text-align: center;
}

.brand_logo {
    height: 140px;
    width: 140px;
    border-radius: 40%;
}

.form_container {
    margin-top: 100px;
}

.login_btn {
    width: 100%;
    background: #c0392b !important;
    color: white !important;
}

    .login_btn:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }

.login_container {
    padding: 0 2rem;
}

.input-group-text {
    background: #c0392b !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.custom-checkbox
.custom-control-input:checked ~
.custom-control-label::before {
    background-color: #c0392b !important;
}

/* Carrito */
.bloc_left_price {
    color: #c01508;
    text-align: center;
    font-weight: bold;
    font-size: 150%;
}

.category_block li:hover {
    background-color: #007bff;
}

    .category_block li:hover a {
        color: #ffffff;
    }

.category_block li a {
    color: #343a40;
}

.add_to_cart_block .price {
    color: #c01508;
    text-align: center;
    font-weight: bold;
    font-size: 200%;
    margin-bottom: 0;
}

.add_to_cart_block .price_discounted {
    color: #343a40;
    text-align: center;
    text-decoration: line-through;
    font-size: 140%;
}

.product_rassurance {
    padding: 10px;
    margin-top: 15px;
    background: #ffffff;
    border: 1px solid #6c757d;
    color: #6c757d;
}

    .product_rassurance .list-inline {
        margin-bottom: 0;
        text-transform: uppercase;
        text-align: center;
    }

        .product_rassurance .list-inline li:hover {
            color: #343a40;
        }

.reviews_product .fa-star {
    color: gold;
}

.pagination {
    margin-top: 20px;
}

footer {
    background: #343a40;
    padding: 40px;
}

    footer a {
        color: #f8f9fa !important
    }

/* Lista Usuarios */

.customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

    .customers td, .customers th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    .customers tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .customers tr:hover {
        background-color: #ddd;
    }

    .customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4CAF50;
        color: white;
    }
