
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<section class="register-block">
    <div class="row">
        <div class="col-md-4 register-sec">
            <h2 class="text-center">Datos de Envio</h2>
            <h5 class="text-center">Dinos a donde te enviamos el pedido</h5>
            <br />
            <form class="register-form" action="CargarDatos" method="post">
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <input type="text" name="Calle" class="form-control" placeholder="Calle" required>
                    </div>
                    <div class="col-sm-6 form-group">
                        <input type="text" name="Numero" class="form-control" placeholder="Altura" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <input type="text" name="Piso" class="form-control" placeholder="Piso">
                    </div>
                    <div class="col-sm-3">
                        <input type="text" name="Depto" class="form-control" placeholder="Dto">
                    </div>
                    <div class="col-sm-6 form-group">
                        <input type="tel" class="form-control" placeholder="Telefono" required>
                    </div>
                </div>
                <button type="submit" class="btn btn-register float-left">Enviar</button>
            </form>
        </div>
        <div class="col-md-8">
            <img class="imagen" src="https://cdn.pixabay.com/photo/2018/03/13/07/37/restaurants-online-3221867_960_720.jpg" alt="Pedido" />
        </div>
    </div>

</section>