@model burger.Models.PedidoModel

@{
    ViewBag.Title = "PedidoStatus";
}

<div class="home-section">
    <h2 class="home-title">Estado del Pedido</h2>
    <hr />
    <h3>El estado actual de tu pedido es @Model.EstadoDelPedido</h3>
</div>
