@model burger.Models.ProductosModel
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="home-section">
    <h1 class="home-title">Bienvenido a la hamburgueseria</h1>
    <hr />
    <h3 class="prod-sell">A continuacion elija un producto</h3>
</div>
<hr />
<div class="row box">
    @{
        foreach (var producto in Model.Productos)
        {
            <div class="card" style="width: 17rem;">
                <img src="~/Content/images/@producto.Imagen" class="card-img-top" alt="@producto.Nombre">
                <div class="card-body">
                    <h5 class="card-title text-center">@producto.Nombre</h5>
                    <p class="card-text">@producto.Descripcion</p>
                    <p class="card-text">$@producto.Precio</p>
                    <a href="/Carrito/Agregar/@producto.Id" class="btn btn-primary">Pedir</a>
                </div>
            </div>
        }
    }
</div>
<br />
<h4>Seguir estado del envio</h4>
<p>Introduce aqui tu numero de pedido va comprobar su estado actual</p>
<form class="register-form" action="/PedidoStatus/SeguirEnvio/id" method="post">
    <div class="row">
        <div class="col-sm-3 form-group">
            <input type="text" name="id" class="form-control" placeholder="Nro Pedido" required>
        </div>
    </div>
    <button type="submit" name="button" class="btn btn-success float-left">Seguir Envio</button>
</form>


