@model burger.Models.AdminModel

@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div>
    <h2>Listar Usuarios</h2>
    <h4>Hola @Model.UsuarioLogueado !</h4>
    <p>
        Si estas aca significa que sos un <strong>usuario administrador</strong>
    </p>
</div>
<hr />
<a class="btn btn-info" href="Usuarios/Index">Ver lista de Usuarios</a>
<a class="btn btn-info" href="/Pedidos/Index">Ver lista de Pedidos</a>
<br />
<br />
<a class="btn btn-info" href="/Home/Index">Ir al inicio</a>

