@model burger.Models.CarritoModel
@{ ViewBag.Title = "Carrito";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="table-responsive">
            @if (Model.ListaProductos.Count == 0)
            {
                <h3 class="text-center">Tu Carrito esta Vacio</h3>
                <br />
            }
            else
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Nro. Producto</th>
                            <th scope="col">Producto</th>
                            <th scope="col" class="text-center">Cantidad</th>
                            <th scope="col" class="text-center">Precio por Unidad</th>
                            <th scope="col" class="text-right">Precio</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var producto in Model.ListaProductos)
                        {
                            <tr>
                                <td>@producto.Producto.Id</td>
                                <td>@producto.Producto.Nombre</td>
                                <td class="text-center">
                                    @*Armar popup formulario para restar cantidades*@
                                    @producto.Cantidad
                                    <a href="/Carrito/Restar/@producto.Producto.Id" class="btn-sm btn-danger"><i class="fas fa-minus"></i></a>
                                </td>
                                <td class="text-center">$@producto.Producto.Precio </td>
                                <td class="text-right">$@producto.Total </td>
                                <td class="text-right">
                                    <a href="/Carrito/Eliminar/@producto.Producto.Id" class="btn-sm btn-danger"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        }

                        <tr class="alert-info">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>Total</strong></td>
                            <td class="text-right"><strong>$@Model.Total</strong></td>
                        </tr>
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>
<a class="btn btn-success" data-toggle="collapse" href="#agregar" role="button" aria-expanded="false" aria-controls="collapseExample">
    Agregar Productos
</a>
<div class="collapse" id="agregar">
    <form class="register-form" action="/Carrito/Agregar" method="post">
        <div class="row">
            <div class="col-md-2 form-group">
                <input type="text" name="id" class="form-control" placeholder="Nro Producto" required>
            </div>
            <div class="col-md-2 form-group">
                <input type="number" name="cantidad" class="form-control" value="0" required>
            </div>
        </div>
        <button type="submit" class="btn btn-primary float-left">Agregar</button>
    </form>
</div>
<br />
<hr />
<br />
<div class="row">
    <div class="col-md-6 register-sec">
        <h2 class="text-center">Datos de Envio</h2>
        <h5 class="text-center">Dinos a donde te enviamos el pedido</h5>
        <br />
        <form class="register-form" action="/Delivery/CargarDatos" method="post">
            <div class="row">
                <div class="col-sm-6 form-group">
                    <input type="text" name="Calle" class="form-control" placeholder="Calle" required>
                </div>
                <div class="col-sm-6 form-group">
                    <input type="text" name="Numero" class="form-control" placeholder="Altura" required>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <input type="text" name="Piso" class="form-control" placeholder="Piso">
                </div>
                <div class="col-sm-3">
                    <input type="text" name="Depto" class="form-control" placeholder="Dto">
                </div>
                <div class="col-sm-6 form-group">
                    <input type="text" name="Telefono" class="form-control" placeholder="Telefono" required>
                </div>
            </div>
            <button type="submit" name="button" class="btn btn-register float-left">Enviar Pedido</button>
        </form>
    </div>
    <div class="col-md-6">
        <img class="imagen" src="https://cdn.pixabay.com/photo/2018/03/13/07/37/restaurants-online-3221867_960_720.jpg" alt="Pedido" />
    </div>
</div>
