* {
    box-sizing: border-box;
    margin: 0, auto;
    padding: 0;
}

.container {
    width: 100%;
    height: 100vh;
}

.box {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.box img {
    width: 160px;
    border-radius: 50%;
}

table {
    width: 94%;
    text-align: center;
    font-size: larger;
}

.container p {
    font-size: 23px;
}

.container button {
    float: right;
    font-size: 20px;
}
/*Resumen*/

.titulo {
    font-size: 30px;
    margin: auto;
    font-family: 'Sen', sans-serif;
    text-align: center;
}

.b-iCon {
    width: 40px;
    height: 40px;
}

.tabla {
    margin: auto;
    background-color: black;
    border: 10px solid black;
    padding: 10px;
    border-spacing: 10px;
    width: 85%;
    border-radius: 55px;
    opacity: 0.85;
}

th {
    color: white;
    font-size: 40px;
    margin: auto;
    font-family: 'Sen', sans-serif;
    background-color: black;
    text-align: center;
    border: 2px;
    border-radius: 15px;
}

td {
    color: white;
    font-size: 20px;
    margin: auto;
    font-family: 'Sen', sans-serif;
    background-color: black;
    text-align: center;
    border-radius: 55px;
}